




@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
  .miniver-regular {
    font-family: "Miniver", cursive;
    font-weight: 400;


}
}
html {
    scroll-padding-top: 100px; /* match your navbar height */
}

:root {

   
    --main-color: rgb(255, 255, 255);
    --bg-color: #561204;
    --text-color: #10f34d;
    --medium-gray-color: #c9fc00;
    --black: #000000;
    --white-color: #fff;
    --gay: #f70cff; 
    --cyan: #00fff7;
    --dark: #2f2b2aec;




    /* Font sizes */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Layout */
    --site-max-width: 1300px;
}


ul {
    list-style: none;

}
a {
    text-decoration: none;

}

button {
    cursor: pointer;
    border: none;
    background:none;

}
img {
    width: 100%;

}
.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;

    font-size: var(--font-size-xl);

}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--text-color);

}
    header {
    position: fixed;
    top: 0;          /* ADD THIS LINE */
    left: 0;         /* optional but good practice */
    z-index: 1000;   /* increase so it stays above content */
    width:100%;
    background-color: var(--bg-color);
    padding: 5px;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}
.navbar .nav-logo .logo-text {  
    color: var(--main-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 30px;

}

.navbar .nav-menu .nav-link {
    display: inline-block;
    padding: 10px 18px;
    color: white;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
  transition: background-color 0.9s ease;

}

.navbar .nav-menu .nav-link:hover {
    background-color: var(--gay);
      color: var( --black);
    
}

 .navbar :where(#menu-close-button, #menu-open-button) {
    display: none;

 }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px ;
    width: 100%;
}

.nav-menu {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    padding: 0 50px;
    width:100%;
}

.hero-section {
    min-height: 100vh;
        background: var(--bg-color);


}
.hero-section .section-content {
    display:flex;
    align-items:center;
    min-height:100vh;
    color: var(--white-color);
    justify-content: space-between;

    

}

.hero-section .hero-details {
    font-size: var(--font-size-xxl);
    color: var(--white-color);
    font-family: "Miniver", sans-serif;

}
#menu-open-button,
#menu-close-button {
    display: none;
}


h1 { font-size: 2rem; font-weight: 700; }
h2 { font-size: 3rem; font-weight: 700; }
h3 { font-size: 1.5rem; font-weight: 600; }
h4 { font-size: 1.2rem; font-weight: 600; }


p { font-size: 1rem; font-weight: 400; }

.navbar .nav-logo .logo-text {
    font-size: 2rem;   
    font-weight: var(--font-weight-semibold);
    color: var(--main-color);
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border-radius: var(--border-radius-m);
    background-color: #FFD700; 
    color: black;              
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}


.hero-section .hero-details .button:hover {
    background-color:transparent;  
    color: white;
    border-color: black;
    
}

.hero-section .hero-details .buttons {
    gap: 10px;
    display:flex;

}

.about-section{
    padding: 120px 0;
    background: var(--gay);

}
.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

}
.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
     
}
.about-section .about-details.text .section-title{
    padding: 0;
}
.about-section .about-details {
    max-width: 50%;

}


.about-section .about-details.text{
    line-height: 30px;
    margin: 50px 0 30px;
text-align: center;
font-size: var(--font-size-m);
}
.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;

}
.about-section .social-link-list .social-link{
    color: var(--medium-gray-color);
    font: var(--font-size-l);
    transition: 0.2s ease;

}

.about-section .social-link-list .social-link:hover{
    color: var(--black);

}

.menu-section{
    color: white;
    background: var(--dark);
    padding: 50px 0 100px;
}

.menu-section .menu-list{
    display: flex;
    flex-wrap:  wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
     
}
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
margin-bottom: 15px;
object-fit: contain;
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);

}

@media screen and (max-width: 1024px){

    .menu-section .menu-list{
        gap: 60px;

    }
    .menu-section .menu-list .menu-item{
        width: calc(100%/3 - 110px);

    }
}

@media screen and (max-width: 900px) {

    :root{
         --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    }

    body.show-mobile-menu::before{
        content: "";
        position: fixed;
left: 0;
top: 0;
height: 0;
height: 100%;
width:100%;
backdrop-filter: blur(5px);
background-color: transparent;
pointer-events: none;



    }

    #menu-open-button,
    #menu-close-button {
        display: block;
        font-size: var(--font-size-l);
    }

    
    .navbar .nav-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.25s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--black);
        font-size: var(--font-size-l);
        margin-top: 17px;
    }

    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;

    }

    .hero-section .hero-details :is(.subtitle,description), .about-section .about-details{
        max-width: 100%;

    }
    .hero-section .hero-details .button{
        justify-content: center;
        
    }
    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }

    .about-details .section-content{
        gap: 70px;
        flex-direction: column-reverse;

    }
.about-section .about-image-wrapper .about-image{
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;

}

 .menu-section .menu-list{
        gap: 30px;

    }
    .menu-section .menu-list .menu-item{
        width: calc(100%/2 - 30px);

    }
    .menu-section .menu-list .menu-item .menu-image{
        max-width: 200px;
    }


}

@media screen and ( max-width: 640px) {

    .menu-section .menu-list{
        gap: 60px;
    }
     .menu-section .menu-list .menu-item{
        width: 100%;


}
    
}





